<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example - example-example39-production</title>
  

  <script type="text/javascript" src="angular.min.js"></script>
  <script src="isolate_scopes_=.js"></script>
  
  
</head>
<body ng-app="isolate_scope">
    <div ng-controller="isolateScopeController">
      <b>Ctrl Data</b>
      <div ng-repeat="person in persons">
          <p>{{person.name}}</p>
      </div>
      <b>Directive Data</b>
      <div ng-repeat="person in persons">
          <friends frnd="person.name"></friends>
      </div>
      <button value="PrintCtrlScopeToFile" ng-click="printScopeToFile()"></button>
    </div>
</body>
</html>